body {
    font-family: "Lucida Console", "Courier New", monospace;
    margin: 0;
    display: flex;
    text-align: center;
    background: linear-gradient(to right, #a2d2ff, #b58d9c); 
}

/* Sidebar */
.sidebar {
    width: 250px;
    background:linear-gradient(to right, #9be7cf, #8A2BE2);
    color: rgb(58, 4, 4);
    color: white;
    padding: 20px;
    position: fixed;
    height: 100%;
}

.sidebar h2 {
    text-align: center;
}

.sidebar a {
    display: block;
    padding: 10px;
    color: white;
    text-decoration: none;
    margin: 8px 0;
    border-radius: 5px;
}

.sidebar a:hover {
    background:linear-gradient(to right, #9be7cf, #8A2BE2);
    color: rgb(58, 4, 4);
}

/* Content Area */
.content {
    margin-left: 260px;
    padding: 20px;
    width: 100%;
}

h2 {
    color: #2c3e50;
}

button {
    padding: 10px 15px;
    border: none;
    background:linear-gradient(to right, #9be7cf, #8A2BE2);
    color: rgb(58, 4, 4);
    color: white;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
}

button:hover {
    background: #2980b9;
}
h1{
        font-family: "Lucida Console", "Courier New", monospace;
        color: rgb(44, 7, 30); 
    
}